<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Week 5</title>
</head>
<body>

    <h1>{{ @title }}</h1>
    <h2>Can you believe it's almost week 5 already?</h2>

    <p>You are logged in as {{ @username }} with password {{ @password }}</p>

    <h2>Temperature</h2>
    <p>Fahrenheit: {{ @temp }}</p>
    <p>Celsius: {{ round((@temp-32) * (5/9), 2)  }}</p>

    <p>Fruits</p>
    <repeat group="{{ @fruits }}" value="{{ @fruit }}">
        <p>{{ @fruit }}</p>
    </repeat>

    <repeat group="{{ @bookmarks }}" value="{{ @bookmark }}" >
        <p>
            <a href="{{ @bookmark }}">{{ @bookmark }}</a>
        </p>
    </repeat>

    <repeat group="{{ @desserts }}" value="{{ @val }}" key="{{ @text }}" >
        <input type="checkbox" value="{{ @text }}">{{ @val }}<br>
    </repeat>

    <h2>Consitioinal Content</h2>
    <check if="{{ @preferredCustomer }}">
        <true>
            <strong>Thank you!</strong>
        </true>
        <false>
            <strong>You're missing out</strong>
        </false>
    </check>

    <check if="{{ @lastLogin > strtotime('-1 month') }}" >

        <true><p>Welcome back!</p></true>
        <false><p>It's been awhile</p></false>
    </check>


</body>
</html>